// Typography
$fonts: (
  body: (Arial, Helvetica, sans-serif)
);

$font-size: (
    'xs': 12px,
    'sm': 15px,
    'md': 20px,
    'lg': 35px,
    'xl': 55px,
    '2xl': 75px
);

$font-weight: (
    'thin': 100,
    'extralight': 200,
    'light': 300,
    'regular': 400,
    'medium': 500,
    'semibold': 600,
    'bold': 700,
    'extrabold': 800,
    'black': 900
);

$font-style: (
    'italic': italic
)