@use 'sass:map';
@use '../variables/' as variables;

body {
  font-family: map.get(variables.$fonts, 'body');
  font-size: map.get(variables.$font-size, 'md');
  font-weight: map.get(variables.$font-weight, 'regular');
  color: map.get(variables.$colors, 'text');
  background: map.get(variables.$colors, 'background');
}

strong {
  font-weight: map.get(variables.$font-weight, 'bold');
}

em {
  font-style: map.get(variables.$font-style, 'italic');
}

ul,
ol {
  padding-left: map.get(variables.$spacing, 'lg');
  margin-top: map.get(variables.$spacing, 'sm');
  margin-bottom: map.get(variables.$spacing, 'md');
}

li {
  margin-bottom: map.get(variables.$spacing, 'xs');
  line-height: 1.5;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: map.get(variables.$spacing, 'md');
  margin-bottom: map.get(variables.$spacing, 'xl');
}

th,
td {
  padding: map.get(variables.$spacing, 'md');
  border: 1px solid map.get(variables.$colors, 'border');
  text-align: left;
}

tbody tr:hover {
  background-color: map.get(variables.$colors, 'accent');
  color: white;
}

h1 {
  font-size: map.get(variables.$font-size, 'xl');
  font-weight: map.get(variables.$font-weight, 'black');
}

h2 {
  font-size: map.get(variables.$font-size, 'lg');
  font-weight: map.get(variables.$font-weight, 'bold');
}

h3 {
  font-size: map.get(variables.$font-size, 'md');
  font-weight: map.get(variables.$font-weight, 'bold');
}

a {
  color: map.get(variables.$colors, 'accent');
  text-decoration: underline;
}